*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	display: block;
	justify-content: center;
	align-content: center;
	padding: 20px;
}

.about{
	display: block;
	padding: 45px;
	margin-top: 45px;
	align-items: center;
}
.about h1{
	text-align: center;
	color: #dedce1;
	border: solid;
	border-color: #787cb5;
	border-right: 0;
	border-left: 0;
	border-top: 0;
	padding: 10px;
	font-size: 30px;
	font-family: helvetica;
	text-transform: uppercase;
	margin-bottom: -15px;
}

.about_container{
	padding: 20px;
}

.about_container .about_contents{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
  	align-items: center;
	padding: 10px;
}

.about_contents .image, .about_contents .infoSection{
	margin-top: 40px;
}

.about_contents img{
	align-items: center;
	padding: 10px;
}

.about_contents .infoSection{
	margin-top: -30px;
	margin-bottom: 20px;
	padding: 30px;
}

.about_contents .image{
	padding: 5px;
	display: block;
	margin-top: 60px;
	margin-right: 30px;
	border:solid;
	border-color: #787cb5;
	padding: 10px;
}

.about_contents .image img{
	padding: 20px;
	width: 250px; 
  	height: 250px; 
  	margin-top: -55px;
	margin-left: -55px;
	
}

.infoSection h2{
	font-family: helvetica;
	font-size: 28px;
	font-weight: 600;
	color: #787cb5;
	padding: 14px 0px 15px;
	text-transform: capitalize;
	letter-spacing: 1px;
}

.infoSection p{
	color: #aaabb0;
	font-size: 26px;
	line-height: 1.2;
	text-align: justify;
	padding-bottom:8px;
}


.personalInfo{
	align-content: center;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-gap: 20px 20px;
	margin-top: 14px;
	padding: 25px;
	border-top: 2px solid #555;
	border-bottom: 2px solid #555;
}

.personalInfo p{
	color: #aaabb0;
	font-size: 18px;
	letter-spacing: 1px;
}
