/*Contact info*/

.contact{
	margin-top: 75px;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
}

.contactme{
	font-family: helvetica;
	padding: 20px;
}

.contactme h2{
	display: block;
	color: #efeeec;
    font-size: 34px;
    text-align: center;
}

.contactme p{
	display: block;
	color: #cacbd5;
    font-size: 26px;
    text-align: center;
}

a{
	text-decoration: none;
	color: #cacbd5;
}

.contact .platforms{
	display: flex;
	justify-content: center;
    align-items: center;
  	margin-top: 45px;
}
.contact-info{
	display: block;
	color: #fff;
	text-align: center;
  	justify-content: center;
  	align-items: center;
  	border-radius: 25px;
}

.contact-info .media{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.media .image{
	position: relative;
	margin: 0 45px; 
	height: 80px;
	width: 80px;
	padding: 10px;
}

.contact-info .media:hover img {
	border-radius: 25px;
  	opacity: 0.8;
  	transform: scale(1.2);
}
