/*projects*/
.bod{
	margin-top: 75px;
	display: block;
}

.work h2{
	display: block;
	color: #efeeec;
    font-size: 34px;
    text-align: center;
}

.work p{
	display: block;
	color: #cacbd5;
    font-size: 26px;
    text-align: center;
}

.project{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	padding: 20px;
}

.project-img {
	padding: 10px;
	width: 35%;
}

div.gallery img {
  width: 90%;
  height: auto;
}

.description{
	background: red;
	justify-content: center;
	align-content: center;
	text-align: center;
	width: 90%;
	padding: 5px;
}

.description h2{
	margin-top: -5px;
	display: block;
	color: #efeeec;
    font-size: 26px;
    text-align: center;
}

.description p{
	display: block;
	color: #cacbd5;
    font-size: 14px;
    text-align: center;
}
